# packages
alias aptupdate='sudo apt update && sudo apt upgrade -y && sudo apt autoremove -y'
alias brewupdate='brew update && brew upgrade && brew cleanup'

# git
alias config='git --git-dir=$HOME/.dotfiles/ --work-tree=$HOME'
alias signall='git rebase -i --root --exec "git commit --amend --no-edit --no-verify -S"'
alias subupdate='git submodule foreach git pull origin master'

# ls
alias ll='ls -lh'
[[ `uname -s` = "Linux" ]] && \
alias ls='ls --color=auto' || \
alias ls='ls -G'

# shortcuts
alias daosyn='cd $GOPATH/src/github.com/daosyn'
alias projects='cd $HOME/projects'

# specifics
alias beet='beet -c $HOME/.beetconfig'
alias hugodaemon='hugo serve -D > /dev/null &'

