[user]
	name = daosyn
	email = brandon@daosyn.info
	signingkey = 9FB10C48910A6A618D70F0A5927FAC0FEF5F6684
[commit]
	gpgsign = true
[pull]
	rebase = true
[color]
	ui = auto
[includeIf "gitdir:~/work/"]
	path = .gitconfig-work
